<div class="Grid">
  <div class="Grid-cell u-lg-size2of3 u-xl-size2of3">
    <form id="ContactForm" method="post">
      <div class="Grid">
        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-xl-size1of4">
          <label for="ContactForm-name" class="is-required">Name</label>
        </div>
        <div class="Grid-cell u-md-size3of4 u-lg-size3of4 u-xl-size3of4">
          <input type="text" id="ContactForm-name" name="name" required="required" placeholder="e.g John Smith">
        </div>
      </div>
      <div class="Grid">
        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-xl-size1of4">
          <label for="ContactForm-email" class="is-required">Email</label>
        </div>
        <div class="Grid-cell u-md-size3of4 u-lg-size3of4 u-xl-size3of4">
          <input type="email" id="ContactForm-email" name="email" required="required" placeholder="e.g yourname@example.com">
        </div>
      </div>
      <div class="Grid">
        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-xl-size1of4">
          <label for="ContactForm-phone" class="is-required">Phone</label>
        </div>
        <div class="Grid-cell u-md-size3of4 u-lg-size3of4 u-xl-size3of4">
          <input type="text" id="ContactForm-phone" name="phone" required="required" placeholder="e.g 01787 827508">
        </div>
      </div>
      <div class="Grid">
        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-xl-size1of4">
          <label for="ContactForm-message" class="is-required">Message</label>
        </div>
        <div class="Grid-cell u-md-size3of4 u-lg-size3of4 u-xl-size3of4">
          <textarea id="ContactForm-message" name="message" required="required" rows="3" placeholder="How can we help?"></textarea>
        </div>
      </div>
      <div class="Grid Grid--withSpace Grid--alignRight">
        <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-xl-size1of3">
          <button class="Button Button--lg" type="submit" id="ContactForm-submit" name="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
