<footer class="Container Container--footer">
  <div class="Container-inner">
    <p>
      <small>Copyright &copy; {{ site.time | date: "%Y" }} Suffolk Sweeps | <a href="#">Privacy policy</a></small>
    </p>
  </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAprZ5Ls5VxMrHIaO3g6pjYQEa9_dQlM5s"></script>
<script
  src="//code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/assets/js/main.js"></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.suffolksweeps.co.uk/",
  "logo": "http://www.suffolksweeps.co.uk/assets/images/logo.png",
  "name": "Suffolk Sweeps",
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "Customer service",
    "email": "suffolksweeps@gmail.com",
    "telephone": "+447975740261"
  },
  "areaServed": {
    "@type": "GeoCircle",
    "geoMidpoint": {
      "@type": "GeoCoordinates",
      "latitude": "52.069417,",
      "longitude": "0.714399"
    },
    "geoRadius": "32186.88"
  },
  "sameAs": [
    "https://www.facebook.com/suffolksweeps"
  ]
}
</script>
