<footer class="Container Container--footer">
  <div class="Container-inner">
    <p>
      <small>Copyright &copy; {{ site.time | date: "%Y" }} Suffolk Sweeps | <a href="#">Privacy policy</a></small>
    </p>
  </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAprZ5Ls5VxMrHIaO3g6pjYQEa9_dQlM5s"></script>
<script
  src="//code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/assets/js/main.js"></script>
