<header class="Container Container--header">
  <div class="Container-inner">
    <div class="Grid Grid--spaceHorizontal">
      <div class="Grid-cell u-lg-size1of2 u-xl-size1of2">
        <h1 class="SiteName">Suffolk Sweeps <small>The chimney specialists</small></h1>
      </div>

      <div class="Grid-cell u-lg-size1of2 u-xl-size1of2 u-textRight">
        <ul class="Contact">
          <li><strong>Tel:</strong> <a href="tel:+447975740261">07975 740261</a></li>
          <li><strong>Email:</strong> <a href="mailto:suffolksweeps@gmail.com">suffolksweeps@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
